<header class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold mb-4"><%= t("edit_texts") %> | <%= t(@page.name.downcase) %></h1>
</header>
<div class="flex flex-col gap-10">
  <% @page.container_blocks.each do |container_block| %>
    <% text_block = container_block.content_blocks.first.text_block %>
    <section class="bg-white p-4" id="text-block-form-<%= text_block.id %>">
     <%= render "form", page: @page, text_block: text_block, location: container_block.location&.humanize %>
    </section>
  <% end %>
</div>