<header class="flex justify-between items-center mb-6">
  <h1 class="text-3xl font-bold mb-4"><%= t("team_members") %></h1>
  <%= link_to t("new_team_member"), new_admin_team_member_path, class: "admin-btn-primary" %>
</header>
<div class="flex flex-col gap-4" id="team-members">
  <%= render @team_members %>
</div>