<% flash.each do |flash_type, message| %>
  <div class="fixed bottom-0 left-0 w-full" data-controller="flash">
    <div class="flex justify-center items-center gap-4 bg-green-200 text-green-700 m-3 rounded text-white">
      <div class="grow flex justify-center items-center gap-2 p-5">
        <%= inline_svg_tag("icons/check-circle.svg", class: "text-green-700 w-6") %>
        <%= message %>
      </div>
      <div class="p-5 cursor-pointer text-green-600 hover:text-green-700" data-action="click->flash#remove">
        <%= inline_svg_tag("icons/x-mark.svg", class: "w-8 transition-colors") %>
      </div>
    </div>
  </div>
<% end %>