<% flash.each do |flash_type, message| %>
  <div class="w-full fixed bottom-0 left-0 flex justify-center" data-controller="flash">
    <div class="flex justify-center items-center gap-4 bg-white shadow-border m-10 lg:w-1/2">
      <div class="grow flex justify-center items-center gap-2 p-5">
        <%= message %>
      </div>
      <div class="p-5 cursor-pointer hover:text-gray-800" data-action="click->flash#remove">
        <%= inline_svg_tag("icons/x-mark.svg", class: "w-8") %>
      </div>
    </div>
  </div>
  <!-- TODO: alert flash-->
<% end %>