<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold mb-4"><%= t("new_project") %></h1>
</div>


<%= render "form", project: @project, project_categories: @project_categories %>