<div class="w-full my-10">
  <%= image_tag @project.cover_photo, class: "w-full h-44 object-cover" %>
  <h1 class="font-bold text-xl mt-6"><%= @project.name %></h1>
  <p><%= @project.description %></p>
</div>