<header class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold mb-4"><%= t("edit_password") %> - <%= current_user.email %></h1>
</header>
<%= render "form", user: current_user %>