<% flash.each do |flash_type, message| %>
  <div class="fixed bottom-0 left-0 w-full" data-controller="flash">
    <div class="flex justify-center bg-white items-center gap-4 shadow-border m-3">
      <div class="grow flex justify-center items-center gap-6 p-5">
        <%= inline_svg_tag("icons/rock-hand.svg", class: "w-6 h-6") %>
        <%= message %>
      </div>
      <div class="p-5 cursor-pointer" data-action="click->flash#remove">
        <%= inline_svg_tag("icons/x-mark.svg", class: "w-8 transition-colors") %>
      </div>
    </div>
  </div>
  <!-- TODO: alert flash-->
<% end %>